
.body {
    font-family: 'Montserrat', sans-serif;
}
/*header */

.inline-block {
    display:inline-block;
    vertical-align:middle;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    padding-right:50px;
    text-align:right;
}

.logo {
    width:23%;
    padding-left:1%;
    padding-bottom:1%;
    float:left;
    margin-left:5%;
}

nav {
    width:73%;
    padding:1%
}

ul {
    width:50%;
    margin-left:auto;
}

/*hero section  */

/*had to put family font here - on top of css didn't work*/
.heroImg {
    height: 150px;
    padding: 10%;
    background-color: #CEEEEA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 250%;
    text-align: left;
}
/*double class didm't work*/
.right {
    float:right;
    padding-left:15px;
}

.underHero {
    height: 10px;
    padding: 10%;
    background-color: #CEEEEA;
}

button {
    background-color: #F5A7A6;
    border-color: #F5A7A6;
    color: black;
    float:right;
    font-family: 'Montserrat', sans-serif;
/*not changing font size*/
    font-weight: 400px;
    font-size:70%;
    border-radius: 8px;
    padding:15px; 
}

/*page content*/

.title {
    font-family: 'Montserrat', sans-serif;
    padding-left:10%;
}

.projectTitle {
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size:110%;
    vertical-align:top;
}

.picCfc {


}
/*footer section below */

footer {
    background-color: #CEEEEA;
    height:80px;
    margin-top: 5%;
    padding-top: 1%;
}